.gallery {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px 0;
    padding: 85px;
}

.title {
    color: #6C4BF4;
    text-align: center;

    /* Desktop/Heading/H2 */
    font-family: "Nunito Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px; /* 137.5% */
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 9px;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}